*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #F6F7F8;
    a{
        text-decoration: none;
        margin-left: 1rem;
        font-size: 14px;
        color: #666;
    }
    .ferdi{
        display: none;
    }
    .kary{
        color: #0056C1;
        border: 2px solid #0056C1;
        border-radius: 20px;
        padding: 5px 10px;
        transition: .7s;
        font-weight: 600;
    }
    .kary:hover{
        color: white;
        background-color: #0056C1;
        text-decoration: none;
    }
    .right{
        span{
            margin-right: 1.5rem;
            font-size: 14px;
            color: #666;
            cursor: pointer;
        }
    }
}
.help{
    input{
        font-size: 40px;
        opacity: .7;
        font-weight: 400;
        outline: none;
        
    }
    span{
        font-size: 40px;
        opacity: .7;
        font-weight: 200;
        cursor: pointer;
    }
}
@media (max-width: 576px) {
  .copu{
      display: none !important;
  }
  
#hed2 {
    display: block !important;
}
.ph{
    display: block !important;
    
}

}


.tel{
    
    i{
        font-size: 40px;
    }
}
.qbr{
    margin-left: 6rem;
    span{
       margin-left: 5px;
    }
}

#hed2 {
    display: none;
}
#slidebar{
    background-color: #F6F7F8;
    border-top: 1px solid black;
    position: fixed;
    width: 0%;
    height: 100%;
    top: 110px;
    right: 0;
    transition: .7s;

    .box{
        border-bottom: 1px solid black;
    }
    a{
        margin-left: 1rem;
    }
    i{
        margin-right: 1rem;
    }
}

#languages{
    position: relative;
}
.language{
    clip-path: polygon(0 100%, 100% 100%, 100% 18%, 73% 18%, 70% 0, 57% 18%, 0 18%);
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 17px 0 #a19ba1;
    height: 100px;

    span {
        padding-left: 10px;
        padding-top: 15px;
    }
   
}


.lang-con {
    position: fixed;
    background-color: #fff;
    top: 57px;
    right: 112px;
    width: 0%;
    box-shadow: 0 0 17px 0 #a19ba1;
    
  
    transition: .7s;
    .lang-top{
        position: absolute;
        right: -13px;
        top: -13px;
        clip-path: polygon(0 10%, 100% 10%, 100% 10%, 78% 10%, 69% 0, 61% 10%, 0 10%);
        padding-top: 20px;
        width: 115px;
        height: 170px;
        background-color: #fff;
        
    

    }
}



